*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: aliceblue;
}

#shopping-list {
    margin: 0 auto;
    width: 80%;
    background-color: #ccc;
    border-radius: 3px;
}